# data/raw/HR/*
# data/raw/INFORMATION-TECHNOLOGY/*
# data/Resume.csv
# data/processed/*.json
# data/vector_db/*

# !data/raw/HR/.gitkeep
# !data/raw/INFORMATION-TECHNOLOGY/.gitkeep
# !data/processed/.gitkeep
# !data/vector_db/.gitkeep
data
configs

.env
.env.*
secrets.toml

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
env/
.venv/

.ipynb_checkpoints/
.streamlit/secrets.toml

*.log
.chroma/
.pytest_cache/

.DS_Store
Thumbs.db
.vscode/
.idea/