# data/raw/HR/*
# data/raw/INFORMATION-TECHNOLOGY/*
# data/Resume.csv
# data/processed/*.json
# data/vector_db/*

# !data/raw/HR/.gitkeep
# !data/raw/INFORMATION-TECHNOLOGY/.gitkeep
# !data/processed/.gitkeep
# !data/vector_db/.gitkeep

# Ignore contents of backend/data, but keep the directories
backend/data/*
!backend/data/temp/
!backend/data/processed/
!backend/data/chunks/

# Allow .gitkeep files to be tracked
!.gitkeep
!backend/data/temp/.gitkeep
!backend/data/processed/.gitkeep
!backend/data/chunks/.gitkeep

configs

.env
.env.*
secrets.toml

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
env/
.venv/

.ipynb_checkpoints/
.streamlit/secrets.toml

*.log
.chroma/
.pytest_cache/

.DS_Store
Thumbs.db
.vscode/
.idea/